#chartdiv {
    width: 100%;
    height: 300px;
}

#chartdiv1 {
    width: 100%;
    height: 300px;
}

#chartdiv2 {
    width: 100%;
    height: 300px;
}

#chartdiv3 {
    width:100%;
    height: 300px
}
#chartdiv4 {
    width:100%;
    height: 300px
}
