::-webkit-scrollbar
{
    width:0px;
}
::-webkit-scrollbar-track-piece
{
    background-coor:transparent;
}
.sortable1 { 
    list-style-type: none;
    margin-bottom: 0px;
    float: left; 
    margin-right: 10px; 
    background: #FFF; 
    padding: 1px; 
   
}

.sortable1 li { 
    margin: 5px; 
    border-radius: 8px;
    padding: 5px; 
    cursor: move;
    font-size: 12px;
    border: 1px solid #000;
    background: #fbf9ee url(../libs/jqueryui/ui-lightness/images/ui-bg_flat_55_fbf9ee_40x100.png) 50% 50% repeat-x;
}


div.box {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    background-color: #FFF5EE;
}

.box ul {
    width: 100%;
    background-color: transparent;
}

div.orders {

}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }


.header-prospeccao {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #4A525F;
    position: relative;
    padding: 5px;
}


.header-cc{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #65BBD6;
    position: relative;
    padding: 5px;
}

.header-oportunidade{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #fcefa1;
    position: relative;
    padding: 5px;
}

.header-contratofechado {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #68C39F;
    position: relative;
    padding: 5px;
}