html,
body 
#loader
{
    height: 100%;
}

#loader {
        background: #000 url('https://loading.io/spinners/flask/index.svg') no-repeat center center;
    }

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.modal-body {
  height: 500px;  
  overflow: scroll;
}
/* overrides the max-width: 100% that you may have on all images */
/*.modal-body img {
  max-width: auto;
}*/

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.28571428571430%;
    *width: 14.28571428571430%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.28571428571430%;
    *width: 14.28571428571430%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.mx-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}


    .w3-button:hover {
        color: #000!important;
        background-color: #ccc!important
    }
    
    .w3-button {
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap
    }

    .w3-button {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    
    .w3-bar-item.w3-mobile,
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-click.w3-mobile {
        text-align: center
    }
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-hover.w3-mobile .w3-btn,
    .w3-dropdown-hover.w3-mobile .w3-button,
    .w3-dropdown-click.w3-mobile,
    .w3-dropdown-click.w3-mobile .w3-btn,
    .w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }
    .w3-bar-block .w3-dropdown-hover,
    .w3-bar-block .w3-dropdown-click {
        width: 100%
    }

    .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
    .w3-bar-block .w3-dropdown-click .w3-dropdown-content {
        min-width: 100%
    }

    .w3-bar-block .w3-dropdown-hover .w3-button,
    .w3-bar-block .w3-dropdown-click .w3-button {
        width: 100%;
        text-align: left;
        padding: 8px 16px
    }
    .w3-bar {
        width: 100%;
        overflow: hidden
    }

    .w3-center .w3-bar {
        display: inline-block;
        width: auto
    }

    .w3-bar .w3-bar-item {
        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0
    }

    .w3-bar .w3-dropdown-hover,
    .w3-bar .w3-dropdown-click {
        position: static;
        float: left
    }

    .w3-bar .w3-button {
        white-space: normal
    }

    .w3-bar-block .w3-bar-item {
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0
    }

    .w3-bar-block.w3-center .w3-bar-item {
        text-align: center
    }

    .w3-block {
        display: block;
        width: 100%
    }

    .w3-bar:before,
    .w3-bar:after {
        content: "";
        display: table;
        clear: both
    }
    .w3-black,
    .w3-hover-black:hover {
        color: #fff!important;
        background-color: #000!important
    }
    
    .w3-container:after,
    .w3-container:before,
    .w3-panel:after,
    .w3-panel:before,
    .w3-row:after,
    .w3-row:before,
    .w3-row-padding:after,
    .w3-row-padding:before,
    .w3-cell-row:before,
    .w3-cell-row:after,
    .w3-clear:after,
    .w3-clear:before,
    .w3-bar:before,
    .w3-bar:after {
        content: "";
        display: table;
        clear: both
    }
    
    .w3-container,
    .w3-panel {
        padding: 0.01em 16px
    }